{#
/**
 * @file zipang_seo_config_entity.html.twig
 * Default theme implementation to present Zipang seo config entity data.
 *
 * This template is used when viewing Zipang seo config entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zipang_seo_config_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zipang_seo_config_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
