{#
/**
 * @file jamboree_desktop_games_entity.html.twig
 * Default theme implementation to present Jamboree desktop games entity data.
 *
 * This template is used when viewing Jamboree desktop games entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jamboree_desktop_games_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('jamboree_desktop_games_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
