{#
/**
 * @file nextbet_payment.html.twig
 * Default theme implementation to present Nextbet payment data.
 *
 * This template is used when viewing Nextbet payment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_nextbet_payment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('nextbet_payment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
