{#
/**
 * @file entrypage_front_block.html.twig
 * Default theme implementation to present Entrypage front block data.
 *
 * This template is used when viewing Entrypage front block pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entrypage_front_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entrypage_front_block') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
