{#
/**
 * @file sponsor_entity.html.twig
 * Default theme implementation to present Sponsor data.
 *
 * This template is used when viewing Sponsor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sponsor_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sponsor_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
