{#
/**
 * @file mobile_infobar.html.twig
 * Default theme implementation to present Mobile info bar data.
 *
 * This template is used when viewing Mobile info bar pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mobile_infobar()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mobile_infobar') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
