{#
/**
 * @filedesktop_slider.html.twig
 * Default theme implementation to presentDesktop slider data.
 *
 * This template is used when viewingDesktop slider pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_desktop_slider()
 *
 * @ingroup themeable
 */#}
<div{{ attributes.addClass('desktop_slider')}}>{% if content%}{{- content -}}{% endif%}
</div>
