{#
/**
 * @file jamboree_withdraw_method_entity.html.twig
 * Default theme implementation to present Jamboree withdraw method entity data.
 *
 * This template is used when viewing Jamboree withdraw method entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jamboree_withdraw_method_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('jamboree_withdraw_method_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
