{#
/**
 * @file jamboree_live_game_entity.html.twig
 * Default theme implementation to present Jamboree live game entity data.
 *
 * This template is used when viewing Jamboree live game entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jamboree_live_game_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('jamboree_live_game_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
