{#
/**
 * @file footer_casino_providers.html.twig
 * Default theme implementation to present Footer Casino Provider data.
 *
 * This template is used when viewing Footer Casino Provider pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_footer_casino_providers()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('footer_casino_providers') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
