{#
/**
 * @file jamboree_fair_gaming_entity.html.twig
 * Default theme implementation to present Jamboree fair gaming entity data.
 *
 * This template is used when viewing Jamboree fair gaming entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jamboree_fair_gaming_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('jamboree_fair_gaming_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
