{#
/**
 * @file web_composer_slider.html.twig
 * Default theme implementation to present Web Composer Slider data.
 *
 * This template is used when viewing Web Composer Slider pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_web_composer_slider()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('web_composer_slider') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
