{#
/**
 * @file arcade_collection.html.twig
 * Default theme implementation to present Arcade collection data.
 *
 * This template is used when viewing Arcade collection pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_arcade_collection()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('arcade_collection') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
