{#
/**
 * @file jamboree_404_image_entity.html.twig
 * Default theme implementation to present Jamboree 404 Image Entity data.
 *
 * This template is used when viewing Jamboree 404 Image Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jamboree_404_image_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('jamboree_404_image_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
