{#
/**
 * @filetournament_api.html.twig
 * Default theme implementation to present Tournament Api data.
 *
 * This template is used when viewing Tournament Api pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tournament_api()
 *
 * @ingroup themeable
 */#}
<div{{ attributes.addClass('tournament_api')}}>{% if content%}{{- content -}}{% endif%}
</div>
