{#
/**
 * @file zipang_weekly_winner_entity.html.twig
 * Default theme implementation to present Zipang weekly winner entity data.
 *
 * This template is used when viewing Zipang weekly winner entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_zipang_weekly_winner_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('zipang_weekly_winner_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
