{#
/**
 * @file promotion_tiles.html.twig
 * Default theme implementation to present Promotion tiles data.
 *
 * This template is used when viewing Promotion tiles pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_promotion_tiles()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('promotion_tiles') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
