{#
/**
 * @file jamboree_press_entity.html.twig
 * Default theme implementation to present Jamboree press entity data.
 *
 * This template is used when viewing Jamboree press entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_jamboree_press_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('jamboree_press_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
