{#
/**
 * @file announcement_entity.html.twig
 * Default theme implementation to present Announcement data.
 *
 * This template is used when viewing Announcement pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_announcement_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('announcement_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
