{#
/**
 * @file mobile_product_menu.html.twig
 * Default theme implementation to present Mobile Product Menu data.
 *
 * This template is used when viewing Mobile Product Menu pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mobile_product_menu()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mobile_product_menu') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
