{#
/**
 * @file games_entity.html.twig
 * Default theme implementation to present Games entity data.
 *
 * This template is used when viewing Games entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_games_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('games_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
